.Highlight {
  position: relative;
  background-color: #FFF5E6;
  border: 0 solid #cdb990;
  margin: 0.5rem;
  /* horizontal, vertical, blur, spread */
  box-shadow: -0.2rem 0.2rem  0.2rem  0.1rem #decfbc;
}

.Highlight::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-width: 0 2rem 2rem 0;
  border-style: solid;
  border-color: #cdb990 #FFF5E6;
  box-shadow: -0.2rem 0.2rem  0.2rem  0.01rem #decfbc;
  transition: all ease 0.5s;
}

.Highlight:hover::before {
  border-width: 0 2.9rem 2.9rem 0;
}

.Highlight figure,
h5 {
  margin: 0 0;
}

.Heart {
  color: #f85032;
}

.HeartOutline:hover {
  color: #f85032;
}

.Comment {
  color: #453a2c;
}

.Comment:hover {
  color: #453a2c;
}

.DiaryFont {
  font-family: "Homemade Apple", cursive;
  font-size: 1.4rem;
  font-weight: 900;
}

.DiaryFontLinkStandardDisplay {
  font-family: "Homemade Apple", cursive;
  font-size: 1.4rem;
  font-weight: 900;
  color:#453a2c;
  text-decoration: none;
}

.DiaryQuestions {
  font-size: 1.2rem;
  font-weight: 700;
  align-items: start;
}

.Category {
  border: 1px solid #cf8562;
  background-color: #cdb990;
  font-size: 1.2rem;
  border-radius: 1rem;
  padding: 0.2rem 0.9rem;
}
