.WordBreak {
  word-break: break-all;
}

.FollowBtn {
  border-radius: 0.7rem;
  padding: 0;
  border: none;
  background-color: #21b23c;
  color: #ffffff;
}

.FollowBtn:hover {
  cursor: pointer;
  border: 1px solid #21b23c;
  background-color: #ffffff;
  color: #21b23c;
}

.Icon {
  font-size: 1.3rem;
  padding: 0.7rem;
}

.Icon:hover {
  cursor: pointer;
  font-size: 1.3rem;
  padding: 0.7rem;
}

.UnFollowBtn {
  border-radius: 0.7rem;
  padding: 0;
  border: none;
  background-color: #f85032;
  color: #ffffff;
}

.UnFollowBtn:hover {
  cursor: pointer;
  border: 1px solid #f85032;
  background-color: #ffffff;
  color: #f85032;
}
