.App {
  font-family: "Montserrat", sans-serif;
  color: #453a2c;
  background-color: #fff5e6;
  min-height: 100vh;
}

.Main {
  padding-top: 6rem;
}

/* h1 {
  font-family: "Homemade Apple", cursive;
} */

.Handwritten {
  font-family: 'Homemade Apple', cursive;
}