* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  font-family: "Montserrat", sans-serif;
  color: #453a2c;
  background-color: #fff5e6;
  min-height: 100vh;
}

.Main {
  padding-top: 6rem;
}

.Handwritten {
  font-family: 'Homemade Apple', cursive;
}

.Image {
  max-width: 40vw;
  width: 100%;
  height: auto;
}

.Content {
  background-color: #FFF5E6;
  padding: 1rem;
  border-radius: 1rem;
  /* border: 1px solid #cdb990; */
  box-shadow: 0 0 0.5rem #decfbc;
}
